<div class="alert alert-warning">
  <h4>Unable to complete search</h4>
  <p>We couldn't complete the search using Primo API at this time. Try again in little while. </p>
  <p class="text-muted">
    <%= @error.to_s %></p>
</div>
