$("#notes_form_holder").empty();
$("#notes").empty();

dialog = bootbox.dialog({
    message: '<div id="notes_form_holder"></div><br/><table class="table" id="notes"></table>',
    title: "Notes - <%= @student.name %>",
    size: "large",
    buttons: { confirm: { label: "Close"} }

});

$(dialog).on("shown.bs.modal", function() {

  $("#notes_form_holder").prepend('<%=escape_javascript render("notes/form") %>');

  <% @notes.each do |note| %>
    $("#notes").append("<%=escape_javascript render note %>");
  <% end %>
});
