<% title "Notes / #{@student.name}", false %>



<%= render @student, show: "div" %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Notes", icon: "commenting-o") do %>
		<section class="notes">
			<h2>
				<a data-toggle="modal" href="#new_note_form" class='btn btn-small float-end btn-primary'>
					<i class="fa-plus fa"></i> New Note
				</a>
			</h2>

			<div id="new_note_form"class="modal modal-fade">
			  <div class="modal-dialog">
			    <div class="modal-content">

						<div class="modal-header">
							<h2>Add a new note</h2>
						</div>
						<div class="modal-body">
							<% @note = Note.new %>
							<%= render partial:  "notes/form"%>

						</div>

						<div class="modal-footer">
							<a href="#" class="btn" data-dismiss="modal">Close</a>
						</div>
					</div>
				</div>
			</div>


			<table class="table" id="notes_table">
				<% @notes.each do |note| %>
					<%= render partial: note %>
				<% end %>

			</table>

		</section>
		<% end %>
	</div>
</div>
