db/*.sqlite3
log/*.log
tmp/
public/uploads/**/*
MissingDrawer.tmplugin
.sass-cache/
.DS_Store
.vagrant
uploads/
REVISION
assets_manifest_backup/
config/secrets.yml
config/database.yml
node_modules/
public/assets/
yarn.lock
*.log
.bundle
