<div class="attachment-actions pull-right">
  <% connection = item.item_connections.current.find_by_student_id(@student.id) %>
  <% if connection %>
    <p title="Access Expiration Date"><i class="icon-calendar"></i>
    <%= connection.expires_on.strftime("Expires after %b %d, %Y") if connection.expires_on%>
    <%= "Unlimited Access" unless connection.expires_on %>
    </p>
  <% end %>

</div>
