
<div id="omni_items_results">
  <% if results.size > 0 %>
    <h6>Item Results <h6>

    <ul class="list-group">
      <% results.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.title, item %>
          <% if item.course_kit? %>
            <small class="text-muted">course kit</small>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="py-4 text-center">No items found for this search.</p>
  <% end %>
</div>
