
<div id="omni_students_results">
  <% if results.size > 0 %>
    <h6>Students <h6>

    <ul class="list-group">
      <% results.each do |student| %>
        <li class="list-group-item"><%= link_to student.name, student %> </li>
      <% end %>
    </ul>
  <% else %>
    <p class="py-4 text-center">No students found for this search.</p>
  <% end %>
</div>
