<table class="table">
  <tr>
    <th>
      <h6>Source</h6>

      <select name="source" class="form-select">
        <option>All</option>
        <%= options_for_select  PapyrusSettings.item_sources, @source %>
      </select>
    </th>
    <th>
      <h6>Date start</h6>
      <input type="text" name="start_date" value="<%= @start_date %>" class="datepicker form-control"/>
    </th>
    <th>
      <h6>Date end</h6>
      <input type="text" name="end_date" value="<%= @end_date %>" class="datepicker form-control"/>
    </th>
  </tr>
  <tr>
    <td colspan="2">
      <br/>
      <div class="text-align-right">
        <input type="submit" value="Generate" class="btn btn-primary" style="margin-top: -8px;">
      </div>
    </td>
  </tr>
</table>
