<div class="nav">
	<%= link_to "Reports Home", stats_path %> |
	<%= link_to "Assigned Students", stats_assigned_students_path %> |
	<%= link_to "Items Usage", stats_item_usage_path %> |
	<%= link_to "Items History", stats_items_history_path %>
</div>
