<div class="search-box row">

	<div class="col-12">
		<form action="<%= search_students_path(type: params[:type]) %>" id="omni_search_form">
		<div class="input-group form-group-lg">
			<span class="input-group-prepend">
				 <span class="input-group-text">
					 <i class="fas fa-search"></i>
				 </span>
			</span>
			<input type="hidden" name="search_all" value="true"/>
			<input type="text" placeholder="Search Name or Student Number" name="q" class="form-control"  value="<%= params[:q].try(:strip) %>">
		</div>
		<% if @students %>
			<%= page_entries_info @students %>
		<% end %>
		</form>
	</div>
	
</div>
