
<%= paginate @results %>

<table class="table table-bordered table-striped table-responsive">
  <tr class="heading">

    <th>Title</th>
    <th>Author</th>
    <th>Edition</th>
    <th>ISBN</th>
    <th><i class="fa fa-users"></i></th>
    <th><i class="fa fa-file"></i></th>
  </tr>
  <% @results.each_with_index do |item, index| %>
    <%= render partial: "items/item", locals: { item: item, show: "tr" } %>
  <% end %>

</table>
<%= paginate @results %>
