<li class="list-group-item" class="term" id="term_<%= term.id %>" data-id="<%= term.id %>">
  <span class="badge"><%= term.courses.count %></span>
  <%= link_to term.name, term_courses_path(term), remote: true %>
</li>
