<% title "#{@student.name} - Audit Trail" %>
<% title_html do %>
	<h1>Student Registration Record - Audit Trail
		<% if @student.inactive? %>
			<span class="red">Inactive</span>
		<% end %>
	
	</h1>	
<% end%>

<% @short_view = true %>
<%= render partial: @student %>			

<div class="student-extended">
	<%= render partial: "students/shared/subnav" %>

	<section id="audit_trail">
		<h2>Audit Trail</h2>
	
		<%= render partial:"audit_trail/trail", locals: {:audits_grouped => @audits_grouped}%>	
	</section>

</div>
