<% title "Register A Student" %>
<% title_html do %>
	<h1><small>Register A Student</small></h1>
<% end %>


<% sidebar do %>
	<section>
		<h2>Register New Student</h2>
		<p>Please fill in all the information about this student.</p>
		<p>All fields are required.</p>
	</section>
<% end %>
<%= render 'form' %>

