<% title @student.name, false %>



<%= render @student, show: "div" %>

<div class="row student-meta">
	<div class="col-md-8">
			<%= render partial: "students/shared/items_list", locals: { student: @student } %>
	</div>
	<div class="col-md-4">
		<div class="students-with-access">

		<div>
		<div class="course-list">

		</div>
	</div>
</div>



<%= render partial: "students/shared/subnav"%>
<%= render partial: "items"%>
