<% title @student.name %>
<% title_html do %>
	<h1>Student Registration Record
		<% if @student.inactive? %>
			<span class="red">Inactive</span>
		<% end %>
	</h1>
<% end%>



<% sidebar do %>

	<%= render partial: "students/shared/sidebar"%>

<% end %>

<%= render partial: @student %>

<div class="student">
	<%= render partial: "students/shared/subnav"%>
	<%= render partial: "items"%>
</div>
