<% title @student.name, false %>



<%= render @student, show: "div" %>

<div class="row">
	<div class="col-md-8">
		<%= render partial: "students/shared/items_list", locals: { student: @student } %>
	</div>
	<div class="col-md-4">
		<div class="access-codes">
			<%= render partial: "students/shared/access_codes", locals: { student: @student } %>
		<div>
	</div>
</div>



<%= render partial: "students/shared/subnav"%>
