<% title "Todo List", false %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Todo List", icon: "list") do %>
			<div class="text-right mb-3">
				<a href="<%= edit_todo_list_path(@todo_list) %>" data-remote="true" class="btn btn-xs btn-primary">
					<i class="fa fa-edit"></i> Make Changes
				</a>
			</div>

			<%= render partial: @todo_list, locals: { show: "div" } %>


		<% end %>
	</div>
</div>
