<% title "Todo List", false %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Todo List - #{@todo_list.todo_items.size} Items", icon: "list") do %>
			<%= render partial: @todo_list, locals: { show: "div" } %>
		<% end %>
	</div>
</div>
