<li id="student_<%= student.id %>">
  <span class="fa fa-user fa-fw"></span>
  <%= link_to withhold_from_student_item_path(@item, student_id: student.id), data: { confirm: 'Are you sure?' }, :method => :delete, :class => "tooltips close",
  rel: "tooltip",  title: "Bar the student from accessing this item." do %>
    &times;
  <% end %>
  <label><a href="<%= student_path(student) %>"><%= student.name %></a></label>
</li>
