<% title "School Terms and Courses", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Terms and Courses", icon: "university", title_class: "bg-success text-white") do %>


			<%= render "terms/shared/menu" %>

			<div class="row">
				<div class="col-md-4">
					<%= render "terms/shared/terms_listing" %>
				</div>
				<div class="col-md-8" id="term_details">
					<%= blank_slate(@courses, title: "Click on the term to see the courses",
													icon: "university red", description: "Please select the term on the left side..." ) %>
				</div>
			</div>

		<% end %>

	</div>
</div>
