<% title "Create New School Term", false %>


<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Create New School Term", icon: "edit") do %>
			<%= render 'form' %>
		<% end %>
	</div>

	<div class="col-md-4">
		<%= panel(title: "Help", icon: "question") do %>
			<p>Terms are used to group courses and assign expiry dates.</p>
		<% end %>
	</div>
</div>
