<% title "#{@term.name}", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "#{@term.name}", icon: "university", title_class: "bg-success text-white") do %>

			<%= render "terms/shared/menu" %>

			<div class="row">
				<div class="col-md-4">
					<%= render "terms/shared/terms_listing" %>
				</div>
				<div class="col-md-8" id="term_details">
					<%= render @term, show: "full" %>
				</div>
			</div>


		<% end %>
	</div>
</div>
