<% title "Edit User" %>
<% title_html do %>	
		<h1>Edit User Details</h1>	
<% end %>

<% sidebar do %>
	<%  unless @user.inactive %>
		<h3>Editing User Details</h3>
		<p>Here you can update user's details. Change the login username, role or email.</p>
		<p class="alert alert-info"><strong>Remember: </strong> All fields are required and user's email and username must be unique.</p>

	  <h3>Disabling Access</h3>
		<p>You can disable access for this user, deactivating the account. This action prevents the user form logging in to Papyrus.</p>	
		<%= link_to "Disable Access", @user, confirm:  'Are you sure?', method: :delete, class: "btn btn-danger"%>
		
	<% else %>
		<h3>Inactive User</h3>
		<p class="alert alert-danger"><strong>Warning:</strong> This user's account is disabled. The access to Papyrus is not allowed.</p>
		<p>To enable access for this user, pleae click on the Activate This User button below.</p>
		<%= link_to "Activate This User", activate_user_path(@user), class: "btn btn-info", method: :post  %>
	<% end %>
<% end %>

<%= render 'form' %>

