<% title "Add A New Papyrus User", false %>

<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Add A New Papyrus User", icon: "edit") do %>
			<%= render 'form' %>
		<% end %>
	</div>

	<div class="col-md-4">
		<%= panel(title: "Help", icon: "question") do %>
			<%= render partial: "help" %>
		<% end %>
	</div>
</div>
