<div class='formstone_upload' data-url="<%= url_for item_attachments_path(@item, format: "js") %>"
    data-label="Click to select files. Upload will begin immediately after clicking on the Open button.">
</div>

<div class="formstone_upload_queue mt-3">
  <h6>Queued</h6>
  <ol>
  </ol>
</div>
<div id="uploaded_attachments" class="attachments hide">
  <hr/>
  <h6>Recently Uploaded Files</h6>
</div>
