<%= form_for [@item, Attachment.new] do |f| %>
  <%= f.label :file, "Upload a file:" %>
  <%= f.file_field :file, multiple: true, name: "attachment[file]" %>	
<% end %>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
	  {%=o.name%}
	  <div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

<div id="uploaded_attachments" class="attachments">

</div>
