<% if @attachment.is_url? %>
	<% title "Update URL", false %>



	<div class="row">
	  <div class="col-md-12">
	    <%= panel(title: "Update Url for Item:  #{@item.title} ", icon: "link") do %>
	      <%= render 'form_url' %>
	    <% end %>
	  </div>

	</div>


<% else %>
	<% title "Update File", false %>


	<div class="row">
	  <div class="col-md-12">
	    <%= panel(title: "Update File for Item: #{@item.title} ", icon: "file") do %>
	      <%= render 'form' %>
	    <% end %>
	  </div>

	</div>

<% end %>
