<% title "Upload A File" %>


<% title_html do %>
	<%= link_to item_path(@item) do %> &laquo; Back to item details <% end %>
<% end %>


<div id="single_attachment">
	<h3>Upload New File</h3>
	<%= render 'form' %>
</div>





