<% title "Add a URL", false %>



<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Add a URL for Item:  #{@item.title} ", icon: "link") do %>
			<%= link_to item_path(@item), class: "btn btn-primary btn-sm" do %> &laquo; Back to item details <% end %>
			<hr/>
			<%= render 'form_url' %>
		<% end %>
	</div>

</div>
