<% student_details = @student.student_details || StudentDetails.new%>

<section class="student_details">
	<h2>Additional Details <%= link_to "Edit Details", edit_student_details_path(@student), :class => "btn btn-small"%></h2>


	<% unless student_details.cds_adviser.blank? %>
		<blockquote class="notes">
			<strong>CDS Adviser</strong><br/>
			<%= student_details.cds_adviser %>
		</blockquote>
	<% end %>

	<table class="table table-condensed">
		<tbody>



			<tr>
				<td class="distinct"><strong>Preferred Formats</strong></td>
				<td>
						<% formats_array = Array.new %>
						<% formats_array.push "PDF" if student_details.format_pdf %>
						<% formats_array.push "KURZWEIL" if student_details.format_kurzweil %>
						<% formats_array.push "DAISY" if student_details.format_daisy %>
						<% formats_array.push "BRAILLE" if student_details.format_braille %>
						<% formats_array.push "WORD DOCUMENT" if student_details.format_word %>
						<% formats_array.push "LARGE PRINT" if student_details.format_large_print %>
						<div>
							<% formats_array.each do | format| %>
								<span class="tag"><%= format.downcase %></span>
							<% end %>
						</div>

						<% unless student_details.format_note.blank? %>
							<blockquote class="notes">
								<%= student_details.format_note %>
							</blockquote>
						<% end %>		
				</td>
			</tr>

		</tbody>
	</table>

</section>
