<% title "General Settings" %>

<% title_html do %>
	<h1>General Settings</h1>
<% end%>


<% sidebar do %>
  <h3>General Settings Help</h3>

<% end %>


<%= simple_form_for PapyrusSettings, url: settings_path, method: :patch do |f| %>


  <input type="hidden" name="return_to" value="general"/>
  <%= f.submit "Save Settings", class: "btn btn-success" %>
<% end %>
