<% flash.each do |flash_type, message| %>
  <%
    type = flash_type.to_sym
    icon = "info-circle"
    type_name = "Attention"

    if type == :error
      type = "danger"
      type_name = "Attention"
      icon = "exclamation-circle"
    elsif type == :alert
      type = "warning"
      type_name = "Notice"
      icon = "exclamation-circle"
    else
      type = "info"
      type_name = "Notice"
      icon = "info-circle"
    end
  %>

  <% if flash_type.to_sym != :timedout %>
    <div aria-live="polite" aria-atomic="true" class="my-4 me-4" style="width: 400px; z-index:9999; top: 0; right: 0; position: absolute;">
      <!-- Position it -->
      <div  class="w-full">

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <%= icon "far", icon, class: "text-#{type} me-1" %>
            <strong class="me-auto"><%= type_name.humanize %></strong>
            <small><%= time_ago_in_words(Time.now) %> ago</small>
            <button type="button" class="ms-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <%= message %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
