<% title "New Item From Worldcat", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "New Item From Worldcat", icon: "edit") do %>
			<%= render 'items/form' %>
		<% end %>
	</div>
</div>
