$("#edit_document_form_holder").remove();
$("body").append("<div id='edit_document_form_holder'></div>");
$("#edit_document_form_holder").append('<%= j render("documents/edit_modal") %>');
var myModal = new bootstrap.Modal(document.getElementById('edit_document_modal'), {
    backdrop: 'static'
});
myModal.show();