<div class="row">
  <div class="col-4 col-md-4">
    <form action="<%= search_courses_terms_path %>" class="form-search">
    <div class="input-group form-group-lg">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
      <input type="text" placeholder="Search Course Code or Name" name="q" aria-label="Search" class="form-control search-query"  value="<%= params[:q].try(:strip) %>">
      <input type="submit" name="submit" class="d-none" value="" aria-label="submit">
    </div>
    </form>
  </div>

  <div class="col-8 text-right">
    <%= link_to new_term_path, class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-plus"></i> Add New Term
    <% end %>
  </div>
</div>
<hr/>
