<div class="row">
  <div class="col-sm-4 col-xs-4">
    <form action="<%= search_courses_terms_path %>" class="form-search">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" placeholder="Search Course Code or Name" name="q" class="form-control search-query"  value="<%= params[:q].try(:strip) %>">
    </div>
    </form>
  </div>

  <div class="col-sm-8 col-xs-8">
    <%= link_to new_term_path, class: "btn btn-sm btn-primary  pull-right" do %>
      <i class="fa fa-plus"></i> Add New Term
    <% end %>
  </div>
</div>
<hr/>
