<h3>Unique identifier Guidelines</h3>
<p class="indent">The unique identifier for this item must follow the following rules.</p>

<h5>All item types</h5>
<ul class="indent bullets">
	<li>The unique identifier can not be changed after the item is created.</li>
</ul>

<h5>Book</h5>
<ul class="indent bullets">
	<li>Books will be assigned a VUFIND id.</li>
	<li>The VUFIND id is automatically filled in.</li>
</ul>

<h5>Course Kit</h5>
<ul class="indent bullets">
	<li>Course Kits must have an unique identifier created.</li>
	<li>It should follow this format: YEAR_COURSE_CODE_SEMESTER.</li>
	<li>Ex: 2011_HIST_1010_Y</li>
</ul>


<h5>Article</h5>
<ul class="indent bullets">
	<li>An article must use an open url format for its unique identifier.</li>	
</ul>