<% title "New Scan List", false %>
<div class="row">
	<div class="col-md-8">
		<%= panel(title: "Scan List", icon: "list") do %>
			<%= render 'form' %>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= panel(title: "Help", icon: "question") do %>
			<p>Scan Lists are used to organize lists of items that shoudl be scanned.</p>
      <p>Here's how it works: </p>
      <ul>
        <li>Give it a name and </li>
        <li>Assign it to someone then</li>
        <li>Add a few items</li>      
      </ul>
		<% end %>
	</div>
</div>
