<% title "Scan List", false %>
<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Scan List", icon: "list") do %>
			<%= render partial: @scan_list, locals: { show: "div" } %>
		<% end %>
	</div>
</div>
