<tr>
  <td>
    <% if todo_item.summary.blank? %>
      <%= link_to "**No scan item summary provided", todo_item.todo_list %>
    <% else %>
      <%= link_to todo_item.summary, todo_item.todo_list %>
    <% end %>
  </td>
  <td>
    <%= todo_item.due_date %>
  </td>
</tr>
