<% if @back_ordered.size == 0 %>
  <div class="blank-slate text-center">

    <h6><i class="fas fa-bullhorn mr-2"></i> There are no back ordered requests.</h6>
    <p class="text-mute text-center">Items that are on back order will appear in this section of the page.</p>
  </div>
<% else %>
  <div class="list-group">
    <% @back_ordered.each do |r| %>
      <a class="list-group-item" href="<%= acquisition_request_path(r) %>">

        <h6 class="list-group-item-heading small"><%= r.item.title rescue nil %></h6>

        <div class="row list-group-item-text">
          <div class="col-md-12">
            <span class="fa fa-calendar fa-fw"></span>
            <label>Until:</label>
            <%= r.back_ordered_until.strftime("%b %e, %Y") rescue nil %>
          </div>
        </div>
        <div class="row list-group-item-text">
          <div class="col-md-12">
            <span class="fa fa-user fa-fw"></span>
            <label>By:</label>
            <%= r.back_ordered_by.name rescue nil %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
