var acquisition_request_holder = "add_acquisition_request_<%= @acquisition_request.item.id %>"
<% if @acquisition_request.errors.size == 0 %>


  $("#" + acquisition_request_holder + " #acquisition_request_form").modal('hide');
  $("#" + acquisition_request_holder + " #acquisition_request_form").remove();

  $("#item_<%= @acquisition_request.item.id %> .item-header").effect("highlight",2000);
<% else %>
  $("#" + acquisition_request_holder).remove();
  $("body").append("<div id='add_acquisition_request_<%= @item.id %>'></div>");
  $("#" + acquisition_request_holder).append("<%= j render "form", formats: [:html] %>");
  $("#" + acquisition_request_holder + " #acquisition_request_form").modal('show');
<% end %>
