<% title "Acquisition Lists" %>

<div class="acquisition_requests">

  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#open" aria-controls="home" role="tab" data-toggle="tab">Open</a>
    </li>
    <li role="presentation">
      <a href="#acquired" aria-controls="profile" role="tab" data-toggle="tab">Acquired</a>
    </li>
    <li role="presentation">
      <a href="#cancelled" aria-controls="messages" role="tab" data-toggle="tab">Cancelled</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="open">
      <%= render "open_requests" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="acquired">
      <%= render "acquired_requests" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="cancelled">
      <%= render "cancelled_requests" %>
    </div>
  </div>

</div>
</div>
