<% title "New Acquisition Request" %>
<% title_html do %>
	<h1><small>Acquisition Request - Note</small></h1>
<% end %>
<%= render 'form' %>

<p><%= link_to "Back to List", acquisition_requests_path %></p>
