<% title "Update Course Kit Details", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Update Course Kit Details", icon: "edit") do %>
			<%= render 'form' %>
		<% end %>
	</div>
</div>
