<div class="search-box row">
  <%= form_tag find_items_path, method: :get do %>
		<div class="col-sm-6 col-xs-6">
			<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" placeholder="Search By Title, Author, Unique ID, ISBN, Type" name="q" class="form-control"  value="<%= params[:q].try(:strip) %>">
			</div>

		</div>
    <div class="col-sm-2">
      <%= select_tag "source", options_for_select(PapyrusSettings.item_sources, @source), prompt: "Item Source", include_blank: true, class: "form-control" %>
    </div>
    <div class="col-sm-2">
      <%= select_tag "item_type", options_for_select(Item::TYPES, @item_type), prompt: "Item Type", include_blank: true, class: "form-control" %>
    </div>

		<div class="col-sm-2 col-xs-2">
			<button type="submit" class="btn btn-default" name="type" value="local">
				Find Items
			</button>
		</div>
	<% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <label>Advanced Search Examples</label>

    <blockquote>
      <p><small>You can add multiple filters in one query line. </small></p>
      <p>title: 'Caesar' author: 'Christian Meier' ISBN: '1234567', callnumber: 'AB 123'</p>
      <p>creator: 'John Smith' (this is very experimental, finding items createdy by user)</p>
    </blockquote>
  </div>
</div>
