<%= panel(title: "Documents", icon: "file", title_class: "text-center bg-secondary text-white") do %>

  <% if can? :create, Document %>
  <p>
    <%= link_to new_student_document_path(@student), remote: true, class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-plus"></i> New Document
    <% end %>
  </p>

  <% end %>
  <hr/>

  <div id="documents">
    <%= blank_slate(@student.documents.available,
        title: "There are no documents.", icon: "file red",
        description: "Click on the <strong>New Document</strong> button to add one.")
      %>
    <% @student.documents.available.each do |document| %>
      <%= render document %>
    <% end %>
  </div>
<% end %>
