<h2>Register or Update a Student</h2>
<p class="indent">When register or updating a student, make sure their username is correctly spelled. The student will use the username to sign in.</p>

<h5>Email Address</h5>
<ul class="indent bullets">
	<li>The email address is used to notify the user that an item is ready.</li>
</ul>