<div id="expired_items" class="d-none">
  <h4>Expired Items <%= @expired_items.size %></h4>
  <ul class="list-unstyled">
    <%= blank_slate(@expired_items,
        title: "There are no expired items.", icon: "file red",
        description: "Once items expire, they will appear in this list")
      %>

    <% @expired_items.each do |item| %>

      <% item.expired = true %>
      <%= render "items/item", item: item, show: "li" %>
    <% end %>
  </ul>
</div>
