<div class="modal" id="item_todo_lists" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">Todo Lists - Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This item is part of the following Todo Lists</p>
        <ul class="fa-ul">
          <% @item_todo_lists.each do |list| %>
            <li><i class="fa-li fa fa-check"></i>
              <%= link_to list.name, todo_list_path(list) %> -
              <span class="small">Assigned to <%= list.assignee %></span></li>
          <% end %>
        </ul>
        <hr/>
        <strong>Add to another list: </strong>
        <select id="todo_list_selector">
          <option>-- choose a list --</option>
          <% @todo_lists.each do |list| %>
            <option value='<%= list.id %>'><%= list.name %></option>
          <% end %>
        </select>
        <br/><br/>
        <div id="new_todo_item_form_holder">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
