<% title "Update Item" %>
<% title_html do %>
	<h1>Update Item Details</h1>
<% end %>


<% sidebar do %>

	<h3>Editing an Item</h3>
	
	<p>You can make changes to the item's details here.</p>
	<p>The only field that you can not change is the Unique ID fields.</p>
	
			

<% if can?(:destroy, Item) && !@item.new_record?  %> 
	<p><strong>Removing and Item</strong></p>
	<p>You have the ability to remove this item. Please ensure that you absolutely certain you want to do this.</p>
	<p>
		<%= link_to  @item, confirm: 'Are you sure you want to do this?', method: :delete, class: "red" do%>
			<i class="icon icon-trash"></i> Remove this item?
		<% end %>
	</p>
	<p class="alert alert-info">
		<span class="strong">Warning:</span> Removing this item will delete any of the files associated with it. <br/> <strong>This action can't be reversed</strong>.
	</p>

<% end %>


<% end %>

<%= render 'form' %>

