<% title "Listing all items", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Papyrus Items", icon: "book") do %>
			<%= render "list", items: @items %>
		<% end %>
	</div>
</div>
