<% title "Listing all items", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Papyrus Items", icon: "book") do %>
			<%= render partial: "search_items/search_box" %>
			<% @results = @items %>
			<%= render template: "search_items/papyrus_results"%>
		<% end %>
	</div>
</div>
