<% title "Listting all items" %>

<% sidebar do %>
	
	<%= link_to new_item_path, class: "action-btn green input-block-level" do %>
		<i class="icon-plus"></i> Create New Item
	<% end %>
	
	<h3>Adding a new item</h3>
	<p>A little blurb about adding a new item should be here.</p>
<% end %>

<%= render partial: "search_items/search_box" %>

<% if  @search_results == "local" %>			
	<%= render template: "items/papyrus_results"%>
<% elsif @search_results == BibRecord::SOLR %>	
	<%= render  template: "items/solr_results"%>
<% end %>


<script type="text/javascript">
$(document).ready(function(){ 
	$(".search_items_button").click(function() { 		
		$("#omni_search_form").attr("action", $(this).attr("href"));	
		$("#omni_search_form").submit();
		return false;
	});	
});
	
</script>