<% title "Listing all items", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Papyrus Items", icon: "book") do %>
			<%= render partial: "search/search_box_items" %>
			<% @results = @items %>
			<%= render template: "search/papyrus_results"%>
		<% end %>
	</div>
</div>
