<% title "Listing all items", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Papyrus Items - #{number_with_delimiter @total_items}", icon: "book") do %>			
			<%= render "list", items: @items %>
		<% end %>
	</div>
</div>
