$("#todo_lists_holder").remove();
$("body").append("<div id='todo_lists_holder'></div>");
$("#todo_lists_holder").append("<%= escape_javascript render("items/todo_lists_modal") %>");
$("#item_todo_lists").modal({show: true, backdrop: "static" });


$("#todo_list_selector").on("change", function() {
  var list_id = this.value;
  if (list_id) {
    $("#new_todo_item_form_holder").empty();
    var url = "<%= todo_lists_path %>/" + list_id + "/todo_items/new.js?item_id=<%=@item.id %>";
    var div = "<div id='todo_list_" + list_id + "_item_form_holder'></div>";
    $("#new_todo_item_form_holder").append(div);
    $.ajax({
      url: url,
    });
  }
});
