<% title @item.title, false %>

<%= render @item, show: "div", item: @item  %>

<div class="row item-meta">
	<div class="col-md-8">
		<%= render partial: "items/shared/file_list", locals: { item: @item } %>
	</div>
	<div class="col-md-4">
		<div class="students-with-access">
			<%= render partial: "items/shared/student_list", locals: { item: @item } %>
		<div>
		<div class="course-list">
			<%= render partial: "items/shared/course_list", locals: { item: @item, courses_grouped: @courses_grouped } %>
		</div>
	</div>
</div>
