<% title "Papyrus Terms Of Use", false %>

<div class="row">
	<div class="col-md-12">
		<%= panel(title: "Papyrus Terms of Use", icon: "gavel") do %>
			<blockquote>
				<p>Digitized readings are supplied by LAS for your express use only and are protected by the Copyright Act.  </p>
				
				<ol>
					<li>You do not have permission to print or to make copies for the purpose of sharing or selling. </li>
					<li>You must delete the digitized material once the course is completed.  </li>
				</ol>

			</blockquote>
			<h6 class="my-4">I AGREE TO COMPLY WITH THE TERMS OF USE AS STATED ABOVE.</h6>
			<hr/>

			<% unless session[:terms_accepted] %>
				<%= link_to "I accept these terms", my_terms_path, method:  :put, class: "btn btn-primary", data: { disable_with: 'loading papyrus...' } %>
				<%= link_to "I do not", logout_path, class: "btn"%>
			<% else %>
				<p class="trivial">Terms accepted for current Papyrus session. <%= link_to "Go to my Items.", my_items_path %></p>
			<% end %>
		<% end %>
	</div>
</div>
