<% title "My Access Codes" %>

<div class="student">
	<section class="access_codes">
		<h2>Active Access Codes</h2>

		<% @student.access_codes.active.each do |access_code| %>
			<%= render partial: access_code %>
		<% end %>
	</section>

	<% if @student.access_codes.active.size == 0 %>
		<p>You currently do not have any <strong>active</strong> access codes.</p>
	<% end %>
</div>
