<% title "My Access Codes" %>

<section id="access_codes">
	<h2>Current Access Codes</h2>

	<div id="access_code_form_holder"></div>
	
	<div class="access_code heading strong row" id="current_codes">
		<div class="span4">For</div>
		<div class="span3">Code</div>	
		<div class="span2">Expires</div>		
	</div>
	
	<% @student.access_codes.active.each do |access_code| %>
		<%= render partial: access_code %>
	<% end %>
</section>