@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/** ITEMS SPECIFIC STYLING */

table.items {
	border: 1px solid #CFCFCF; width: 100%; ; margin-top: 10px;  /* .box-shadow(0 0px 3px rgba(0, 0, 0, 0.35))*/
	
	tr.heading { 
		background: #efefef; border: none; 
		th { text-transform: uppercase; color: #666; font-size: 11px; padding: 5px 5px; letter-spacing: 0.06em;}
	}
	tr.item, tr.item-extra { 
		border-top: 1px solid #cfcfcf; 
		td { padding: 15px 5px; }
		td.icon { font-size: 18px; color: #1D1D1D; text-align: center; cursor: pointer; }
		td.title { font-size: 15px; }
	}
	
	tr.item-extra { 
		background: #efefef; 
	}

}

/** SINGLE ITEM **/
.item {
	 
	.header h2 { color: #000; font-size: 26px; line-height: 34px; margin-top: 0; }
	.summary { 
		
		.stats { 
			margin-bottom: 10px; line-height: 30px; 
		}
		
		table.table { 
			th, td {
				border-top: 1px dotted #ccc; 
			}
		}
	}	
	
}

.item-extended { 
	.sub-navigation { 
		border-top: 2px solid #eee; border-bottom: 2px solid #eee; line-height: 30px; margin: 0 0 20px;
		a { 
			padding: 5px 10px; font-weight: bold; 
			&:hover, &.active { color: #000; text-decoration: none; }			
		} 
	}
}

/** FORM **/