@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";


.student-view .items h3 { margin-top: 0; color: #222; font-size: 22px; line-height: 28px;  }

.student-view .item { 
	overflow: hidden; padding: 5px 10px; margin-bottom: 10px; 
	
	.title {
		font-size: 14px; 
		h4 { margin-top: 0; }
		a:hover, a:active { text-decoration: none; color: #222; }
	}
	

	.attachment-actions {
		a.action { 
			background-color: #777; font-size: 13px; .border-radius(3px); color: #fff; display: block; padding: 4px 10px;  margin-bottom: 5px; 
	
			&.small { background: none; color: #444; padding: 0 10px; display: inline; font-size: 12px;  }
			&:hover, &:active { text-decoration: none; background-color: #ccc; color: #222; }
		}
	}
	
	.individual_files { 
		clear: both; display: none; max-width: 340px;
		
		li { font-size: 14px; line-height: 24px; 
			a { text-overflow:ellipsis; }
			.label { font-size: 10px; float: right; margin-top: 4px;  margin-right: 5px; &.extension { width: 20px; text-align: center;} }
		}
	 }
}
