@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/** STUDENTS SPECIFIC STYLING */

.students {
	.list-group {
		img { margin-right: 10px; }
		.list-group-item-text { font-size: 14px; }
	}	
}



.student {
 
	.header { padding-bottom: 0px; 
		h2 { 
			color: #000; font-size: 26px; line-height: 36px; margin-top: 0; 
			a { margin-top: 8px; }
		}
		
	}
	.summary { 
		.stats { margin-bottom: 10px; span { margin-top: 4px; }}
		.details { }
	}
	
}

.student-extended {
	.sub-navigation { border-top: 2px solid #eee; border-bottom: 2px solid #eee; line-height: 30px; 
		a { 
			padding: 5px 10px; font-weight: bold; 
			&:hover, &.active { color: #000; text-decoration: none; }
			
		} 
	}
	
	/* Student Notes */
	table.notes {
		width: 100%;
		tr + tr td { border-top: 1px solid #ECECEC; }	
		td { font-size: 13px; padding: 4px 0; vertical-align: top;  }
		td.avatar { width: 40px; }
		td.who { width: 1%; white-space: nowrap; padding: 9px 14px 5px 0; text-align: left; font-size: 11px; }
		td.what { max-width: 500px; line-height: 18px; padding: 5px 14px 5px 0;
			p { font-size: 14px; line-height: 24px; }
		}
		td.when { width: 1%; white-space: nowrap; text-align: right; padding: 8px 14px 5px 0;}
	}
}


