@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/*** courses & terms ***/
.terms {
	h3 > a { cxolor: black; }
	.course-count { margin-top: 5px; }
	.term { margin-bottom: 10px; }
}

.courses {
	.course {
		padding: 4px 8px 6px;
		background-color: @white;
	}
}
