<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%=  simple_format @template.render( 'date' => @date, 'date-short' => @date_short,
                      'application_name' => @app_name, 'application_url' => @url, 'student_name' => @student.name,
                      'organization_name' => @org_name, 'items' => @items ) %>
</body>
</html>
