@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/** COMMON ELEMENTS **/
.clear { clear: both; }
.hide { display: none;}
.weak { color: #797D7F !important; font-size: 10px !important;}
.soft { font-weight: normal !important; }
.trivial { color: #797D7F;  }
.distinct { color: black; }
.blend { color: #9F9B94; }
.small { font-size: 11px; }
.strong { font-weight: bold;}
.odd { background-color: #F8F7F5; border: 1px solid #D4D1CC; }
.float-right { float: right;}
.float-left { float: left;}
.half-column {float: left; width: 50%;}
div.push-down { margin-top: 20px; }
.well { background-color: #F8F7F5; border-color: #ccc; }
code { background-color: #F8F7F5; }
blockquote { border-color: #383433; }
.no-gutter { margin-left: 0; }

/** COLOURS **/
.red { color: #CC0000;}
.green { color: @green; }
.black { color: #000000; }
.grey { color: #999; }
.blue { color: #106DEC; }

/** FORMS **/