@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/** COMMON ELEMENTS **/
.clear { clear: both; }
.hide { display: none;}
.weak { color: #797D7F !important; font-size: 10px !important;}
.soft { font-weight: normal !important; }
.trivial { color: #797D7F;  }
.distinct { color: black; }
.blend { color: #9F9B94; }
.small { font-size: 11px; }
.strong { font-weight: bold;}
.odd { background-color: #F8F7F5; border: 1px solid #D4D1CC; }
.float-right { float: right;}
.float-left { float: left;}
.half-column {float: left; width: 50%;}
div.push-down { margin-top: 20px; }
.well { background-color: #F8F7F5; border-color: #ccc; }
code { background-color: #F8F7F5; }
blockquote { border-color: #383433; }
.no-gutter { margin-left: 0; }

/** COLOURS **/
.red { color: #CC0000;}
.green { color: @green; }
.black { color: #000000; }
.grey { color: #999; }
.blue { color: #106DEC; }
.purple { color: #58488A; }

/** BLANK SLATE **/
.blank-slate {
  color: #777777; font-size: 13px; height: 400px; line-height: 18px; padding: 50px 150px 0; text-align: center;
		
	i { color: #A40000; font-size: 165px; }		
	h1 { color: #222222;  font-size: 28px !important; font-weight: bold !important; margin-bottom: 10px !important; }
	p { color: #999999; font-size: 18px !important; line-height: 24px !important; }
}


/** blocked */
.blocked { 
	height: 100%; width: 100%; position: absolute; background-color: rgba(17, 17, 17, 0.66); top: 0pt; left: 0pt; z-index: 9000;
	
	.message { width: 90%; z-index: 9010; background: #fff; border: 1px #999 solid; margin: 20% auto; padding: 50px 20px; }
}	

/** FORMS **/
textarea#message { width: 95%; }
label { font-size: 14px; color: #000; font-weight: bold; }
input[type]:not([type="submit"]), select, textarea { 
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.18) inset); .border-radius(0px); border: 1px solid #aaa; 
	color: #222; font-size: 18px; padding: 8px 8px; height: auto;
}
input[type="checkbox"] { margin-top: -5px; margin-right: 5px; }

form div.standout { 
	background-color: #E8EBEF; margin: 0 -10px 30px -10px; padding: 10px; 
	.box-shadow(~"0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), 0 -1px 2px rgba(14, 41, 57, 0.15) inset")
}

/** FORM OVERRIDE **/
.form-horizontal .control-label { padding-top: 12px; }

