/** jquery inputToken override */
ul.token-input-list  { width: 100%; 
	li.token-input-input-token input { border: none;  box-shadow: none; padding: 6px; margin-bottom: 4px; }
}
div.token-input-dropdown { width: 400px; }
